// Typography
// placed in template.html
// @import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,600;0,700;1,500;1,700&display=swap');

// CSS Variables
:root {
  // Colors
  --color-midnight-green: #014E56;
  --color-light-coral: #F67E7E;
  --color-rapture-blue: #79C8C7;
  --color-plice-blue: #2C6269;
  --color-deep-jungle-green: #004047;
  --color-sacramento-state-green: #012F34;
  --color-dark-green: #002529;
  --color-white: #FFFFFF;
  
  // Font Weights
  --weight-medium: 500;
  --weight-semi-bold: 600;
  --weight-bold: 700;

  // Design elements
  --transition: 300ms ease-in-out;
}

// Reset
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-size: 1.8rem;
  font-family: 'Livvic', sans-serif;
  background-color: var(--color-midnight-green);
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  outline: none;
  background: none;
  border: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

input,
textarea {
  border: none;
  background: none;
}

textarea {
  resize: none;
}


// Type Specs
// size, line height, font weight, letter spacing
.t-intro {
  font-weight: var(--weight-bold);
  font-size: 4rem;
  line-height: 4rem;
  @media (min-width: 420px) {
    font-size: 6.4rem;
    line-height: 5.6rem;
  }
}

.t-intro--home {
  @media (min-width: 960px) {
    font-size: 8rem;
    line-height: 6.4rem;
  }
  @media (min-width: 1160px) {
    font-size: 10rem;
    line-height: 10rem;
  }
}

.t-intro--page {
  @media (min-width: 520px) {
    font-size: 6.4rem;
    line-height: 5.6rem;
  }
  @media (min-width: 960px) {
    line-height: 10rem;
  }
}

.t-h2 {
  font-size: 3.2rem;
  line-height: 3.2rem;
  font-weight: var(--weight-bold);
  @media (min-width: 960px) {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }
}

.t-h3 {
  font-size: 3.2rem;
  line-height: 4.8rem;
  font-weight: var(--weight-bold);
}

.t-body1 {
  font-weight: var(--weight-semi-bold);
  font-size: 1.5rem;
  line-height: 2.8rem;
  @media (min-width: 960px) {
    font-size: 1.8rem;
  }
}

.t-main-nav {
  font-weight: var(--weight-semi-bold);
  font-size: 1.8rem;
  line-height: 2.8rem;
  transition: var(--transition) color;
}

.t-feature__body {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: var(--weight-semi-bold);
  opacity: .8;
}

.t-testimonial__quote {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: var(--weight-semi-bold);
}

.t-testimonial__title {
  font-size: 1.3rem;
  font-style: italic;
  line-height: 1.8rem;
  font-weight: var(--weight-medium);
}

.t-footer-nav {
  font-size: 1.5rem;
  line-height: 2.5rem;
  transition: var(--transition) color;
  font-weight: var(--weight-semi-bold);
  @media (min-width: 960px) {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
  &:hover {
    color: var(--color-light-coral);
  }
}

.t-footer-info {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: var(--weight-semi-bold);
  opacity: .6;
}

.t-feature__heading,
.t-testimonial__name,
.t-card-name,
.t-ask-body {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: var(--weight-bold); 
}

.t-card-title {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: var(--weight-medium);
  font-style: italic;
}

.t-card-quote {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: var(--weight-semi-bold);
}

.t-error {
  font-size: 1rem;
  line-height: 1.3rem;
  font-style: italic;
  font-weight: var(--weight-bold);
}

// Utilities
.t-white {
  color: var(--color-white);
}

.t-light-coral {
  color: var(--color-light-coral);
}

.t-rapture-blue {
  color: var(--color-rapture-blue);
}

.t-sacramento-state-green {
  color: var(--color-sacramento-state-green);
}

.sr-only {
  padding: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  border: 0;
}

// Buttons
.button {
  cursor: pointer;
}

.button--contact {
  outline: none;
  width: 15.9rem;
  padding-top: 1rem;
  text-align: center;
  display: inline-block;
  padding-bottom: 1rem;
  border-radius: 2.4rem;
  font-weight: var(--weight-semi-bold);
  border: 2px solid var(--color-white);
  transition: var(--transition) background-color, var(--transition) color;
  @media (min-width: 520px) {
    width: 15.3rem;
    padding-top: .8rem;
    padding-bottom: .9rem;
  }
  &:hover {
    color: var(--color-dark-green);
    background-color: var(--color-white);
  }
  &--cta {
    width: 15.3rem;
    border-color: var(--color-sacramento-state-green);
    padding: 1rem 0;
  }
  &--cta:hover {
    background-color: var(--color-sacramento-state-green);
    color: var(--color-white);
  }
}

.button--submit {
  border: none;
  width: 12.3rem;
  font-size: 1.8rem;
  padding-top: .9rem;
  text-align: center;
  line-height: 2.8rem;
  padding-bottom: 1.1rem;
  border-radius: 2.4rem;
  display: inline-block;
  font-weight: var(--weight-semi-bold);
  background-color: var(--color-white);
  color: var(--color-deep-jungle-green);
  transition: var(--transition) color;
  outline: none;
  &:hover {
    color: var(--color-rapture-blue);
  }
}