<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Frontend Mentor Challenges Solutions by Connor(Zuoli) Zhu</title>
  <link class="solution"nk rel="stylesheet" href="normalize801.css">
  <link class="solution"nk rel="stylesheet" href="style.css">
  <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
  <script src="https://cdn.jsdelivr.net/npm/vue" defer></script>
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="header-info">
        <h1 class="t-h1">Frontend Mentor Challenges Solutions</h1>
        <p class="t-gray t-body">By Connor(Zuoli) Zhu</p>
      </div>
    </div>
  </header>
  <main class="main">
    <div class="container">
      <!-- data is saved in app.js -->
      <div id="app">
        <section class="highlighted-solutions">
          <h2 class="t-h2">Highlighted solutions</h2>
          <ul class="solutions">
            <li class="solution" v-for="solution in highlightedSolutions">
              <div class="solution__image">
                <img v-bind:src="solution.previewImageLink" alt="solution preview">
              </div>
              <div class="solution__info">
                <div class="solution__info__techstack">
                  <div v-for="techStack in solution.techStacks" class="tag" v-bind:class="techStack">{{ techStack }}</div>
                </div>
                <p class="t-project-name solution__info__project-name">{{ solution.projectName }}</p>
                <div class="solution__info__links">
                  <a v-bind:href="solution.liveViewLink" class="link link--live" target="_blank">Live View</a>
                </div>
              </div>
            </li>
          </ul>
        </section>
        <section class="all-solutions">
          <h2 class="t-h2">All solutions</h2>
          <ul class="solutions">
            <li class="solution" v-for="solution in solutions">
              <div class="solution__image">
                <img v-bind:src="solution.previewImageLink" alt="solution preview">
              </div>
              <div class="solution__info">
                <div class="solution__info__techstack">
                  <div v-for="techStack in solution.techStacks" class="tag" v-bind:class="techStack">{{ techStack }}</div>
                </div>
                <p class="t-project-name solution__info__project-name">{{ solution.projectName }}</p>
                <div class="solution__info__links">
                  <a v-bind:href="solution.liveViewLink" class="link link--live" target="_blank">Live View</a>
                </div>
              </div>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </main>
  <script src="app.js" defer></script>
</body>
</html>