@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
:root {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #1A697F;
  font-size: 2rem;
}

li {
  list-style-type: none;
  transition: all 0.3s ease;
  margin: 1rem 0;
}

li a {
  text-decoration: none;
  color: #62c890;
  transition: all 0.3s ease;
}

li:hover a {
  color: #D7F08C;
}

li:hover {
  transform: translate(2px, 0);
}