/* Typography import */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,500&display=swap');

:root {
  /* Colors */
  --color-soft-blue: hsl(231, 69%, 60%);
  --color-soft-red: hsl(0, 94%, 66%);
  --color-grayish-blue: hsl(229, 8%, 60%);
  --color-light-gray: #F7F7F7;
  --color-very-dark-blue: hsl(229, 31%, 21%);
  --color-dark-gray: hsl(228, 22%, 45%);
  --color-white: #fff;

  /* Font Weights */
  --weight-regular: 400;
  --weight-medium: 500;

  /* Design elements */
  --transition: 300ms ease-in-out;
}

/* Reset */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 1.8rem;
  background-color: var(--color-white);
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
  font-family: 'Rubik', sans-serif;
}

/* Screen Reader Only */
.sr-only {
  padding: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  border: 0;
}

/* Type Specs */
.t-mobile-menu__item {
  font-size: 2rem;
  line-height: 1.7rem;
  letter-spacing: 2.31px;
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: var(--weight-regular);
}

.t-desktop-menu__item {
  text-transform: uppercase;
  font-size: 1.3rem;
  line-height: 1.7rem;
  letter-spacing: 1.5px;
  font-weight: var(--weight-regular);
  color: var(--color-very-dark-blue);
  transition: var(--transition) color;
}
.t-desktop-menu__item:hover {
  color: var(--color-soft-red);
}

.t-h1 {
  font-weight: var(--weight-medium);
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: -.09px;
  color: var(--color-very-dark-blue);
}
@media (min-width: 950px) {
  .t-h1 {
    font-size: 4.8rem;
    line-height: 5.2rem;
    letter-spacing: -.15px;
  }
}

.t-h2 {
  font-size: 2.4rem;
  line-height: 5.2rem;
  letter-spacing: -.08px;
  font-weight: var(--weight-medium);
  color: var(--color-very-dark-blue);
}
@media (min-width: 768px) {
  .t-h2 {
    font-size: 3.2rem;
    line-height: 5.2rem;
    letter-spacing: -.1px;
  }
}

.t-h2--white {
  color: var(--color-white);
}

.t-h3 {
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: .25px;
  font-weight: var(--weight-medium);
  color: var(--color-very-dark-blue);
}

.t-body1 {
  font-weight: var(--weight-regular);
  color: var(--color-very-dark-blue);
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 0px;
  opacity: .5;
}
@media (min-width: 768px) {
  .t-body1 {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}

.t-question {
  font-size: 1.5rem;
  line-height: 3.2rem;
  letter-spacing: 0px;
  font-weight: var(--weight-regular);
  color: var(--color-very-dark-blue);
  transition: var(--transition) color;
}
@media (min-width: 768px) {
  .t-question {
    font-size: 1.8rem;
  }
}

.t-answer {
  font-size: 1.5rem;
  line-height: 3rem;
  letter-spacing: .14px;
  font-weight: var(--weight-regular);
  color: var(--color-very-dark-blue);
  opacity: .75;
}
@media (min-width: 768px) {
  .t-answer {
    font-size: 1.6rem;
    line-height: 3.6rem;
    letter-spacing: .15px;
  }
}

.t-cta-promo {
  font-size: 1.2rem;
  line-height: 4rem;
  letter-spacing: 4.62px;
  font-weight: var(--weight-medium);
  color: var(--color-white);
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .t-cta-promo {
    font-size: 1.3rem;
    letter-spacing: 5px;
  }
}

.t-footer-menu__item {
  font-size: 1.5rem;
  line-height: 1.7rem;
  letter-spacing: 1.73px;
  color: var(--color-white);
  font-weight: var(--weight-regular);
  transition: var(--transition) color;
  text-transform: uppercase;
}
@media (min-width: 720px) {
  .t-footer-menu__item {
    font-size: 1.3rem;
    letter-spacing: 1.5px;
  }
}
.t-footer-menu__item:hover {
  color: var(--color-soft-red);
}

/* Button Styles */
.button--login-mobile {
  width: 100%;
  border: 2px solid var(--color-white);
  border-radius: .5rem;
  font-size: 2rem;
  line-height: 1.7rem;
  letter-spacing: 2.31px;
  font-weight: var(--weight-medium);
  padding: 1.4rem 0 1.3rem;
  color: var(--color-white);
  text-align: center;
}

.button--login-desktop {
  width: 11.1rem;
  text-align: center;
  background-color: var(--color-soft-red);
  font-size: 1.3rem;
  line-height: 1.7rem;
  letter-spacing: 1.5px;
  color: var(--color-white);
  text-transform: uppercase;
  padding: 1rem 0 .9rem;
  font-weight: var(--weight-medium);
  border-radius: .5rem;
  box-shadow: 0 .8rem .8rem -.4rem rgba(73, 93, 207, .2);
  border: 2px solid var(--color-soft-red);
  transition: var(--transition) background-color, var(--transition) color;
}
.button--login-desktop:hover {
  color: var(--color-soft-red);
  background-color: var(--color-white);
}

.button--chrome,
.button--firefox {
  font-size: 1.4rem;
  line-height: 2.8rem;
  letter-spacing: .25px;
  font-weight: var(--weight-medium);
  padding: .8rem 0;
  border-radius: .5rem;
  box-shadow: 0 .8rem .8rem -.4rem rgba(73, 93, 207, .2);
}
.button--chrome {
  background-color: var(--color-soft-blue);
  color: var(--color-white);
  border: 2px solid var(--color-soft-blue);
  transition: var(--transition) background-color, var(--transition) color;
}
.button--chrome:hover {
  background-color: var(--color-white);
  color: var(--color-soft-blue);
}
.button--firefox {
  background-color: var(--color-light-gray);
  color: rgba(36, 42, 69, .75);
  border: 2px solid var(--color-light-gray);
  transition: var(--transition) background-color, var(--transition) border-color;
}
.button--firefox:hover {
  background-color: var(--color-white);
  border-color: var(--color-dark-gray);
}

.button--add {
  width: 100%;
  padding: 1rem 0;
  font-size: 1.4rem;
  line-height: 2.8rem;
  border-radius: .5rem;
  letter-spacing: .25px;
  color: var(--color-white);
  font-weight: var(--weight-medium);
  background-color: var(--color-soft-blue);
  box-shadow: 0 .8rem .8rem -.4rem rgba(73, 93, 207, .2);
}

.button--info {
  width: 11.4rem;
  text-align: center;
  padding: 1rem 0;
  font-size: 1.4rem;
  line-height: 2.8rem;
  border-radius: .5rem;
  letter-spacing: .25px;
  color: var(--color-white);
  font-weight: var(--weight-medium);
  background-color: var(--color-soft-blue);
  box-shadow: 0 .8rem .8rem -.4rem rgba(73, 93, 207, .2);
}

.button--contact {
  width: 100%;
  text-align: center;
  padding: .8rem 0;
  font-size: 1.4rem;
  line-height: 2.8rem;
  border-radius: .5rem;
  letter-spacing: .25px;
  color: var(--color-white);
  font-weight: var(--weight-medium);
  border: 2px solid var(--color-soft-red);
  background-color: var(--color-soft-red);
  box-shadow: 0 .8rem .8rem -.4rem rgba(73, 93, 207, .2);
  transition: var(--transition) color, var(--transition) border-color, var(--transition) background-color;
}
.button--contact:hover {
  color: var(--color-soft-red);
  border-color: var(--color-soft-red);
  background-color: var(--color-white);
}
@media (min-width: 768px) {
  .button--contact {
    max-width: 12.6rem;
  }
}