// Typography import
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root {
  // Colors
  --color-dark-blue: hsl(233, 26%, 24%);
  --color-lime-green: hsl(136, 65%, 51%);
  --color-bright-cyan: hsl(192, 70%, 51%);
  --color-grayish-blue: hsl(233, 8%, 62%);
  --color-light-grayish-blue: hsl(220, 16%, 96%);
  --color-light-gray: hsl(0, 0%, 98%);
  --color-white: hsl(0, 0%, 100%);
  
  // Font Weights
  --weight-light: 300;
  --weight-regular: 400;
  --weight-bold: 700;

  // Design elements
  --transition: 300ms ease-in-out;
}

// Reset
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  font-size: 1.8rem;
  background-color: var(--color-white);
  color: var(--color-grayish-blue);
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
}



a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

// Screen Reader Only
.sr-only {
  padding: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  border: 0;
}

::selection {
  color: var(--color-white);
  background: var(--color-lime-green);
}

// Type Specs
.t-mobile-nav {
  font-weight: var(--weight-regular);
  font-size: 1.8rem;
  line-height: 2.1rem;
  letter-spacing: -.14px;
  color: var(--color-dark-blue);
}

.t-desk-nav {
  font-weight: var(--weight-regular);
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: -.11px;
  color: var(--color-grayish-blue);
  transition: var(--transition) color;
}

.t-h1 {
  font-weight: var(--weight-light);
  font-size: 4rem;
  line-height: 4.7rem;
  letter-spacing: -.71px;
  color: var(--color-dark-blue);
  @media (min-width: 768px) {
    font-size: 5.6rem;
    line-height: 6.4rem;
    letter-spacing: -1px;
  }
}

.t-h2 {
  font-weight: var(--weight-light);
  font-size: 3.2rem;
  line-height: 3.7rem;
  letter-spacing: -.57px;
  color: var(--color-dark-blue);
  @media (min-width: 768px) {
    font-size: 4rem;
    line-height: 6.4rem;
    letter-spacing: -.71px;
  }
}

.t-h3 {
  font-weight: var(--weight-light);
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: -.36px;
  color: var(--color-dark-blue);
  @media (min-width: 768px) {
    font-size: 2.4rem;
    letter-spacing: -.43px;
  }
}

.t-body1 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: -.23px;
  font-weight: var(--weight-regular);
  color: var(--color-grayish-blue);
  @media (min-width:768px) {
    font-size: 1.8rem;
    line-height: 2.8rem;
    letter-spacing: -.28px;
  }
}

.t-body2 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: -.23px;
  font-weight: var(--weight-regular);
  color: var(--color-grayish-blue);
  @media (min-width:768px) {
    font-size: 1.6rem;
    line-height: 2.6rem;
    letter-spacing: -.25px;
  }
}

.t-author-name {
  font-size: 1rem;
  line-height: 1.8rem;
  letter-spacing: -.16px;
  color: var(--color-grayish-blue);
  font-weight: var(--weight-regular);
}

.t-card-heading {
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: -.29px;
  font-weight: var(--weight-light);
  color: var(--color-dark-blue);
}

.t-card-body {
  font-size: 1.3rem;
  line-height: 1.8rem;
  letter-spacing: -.2px;
  font-weight: var(--weight-regular);
  color: var(--color-grayish-blue);
}

.t-footer-nav {
  font-size: 1.5rem;
  line-height: 2.6rem;
  letter-spacing: -.23px;
  font-weight: var(--weight-regular);
  color: var(--color-white);
  transition: var(--transition) color;
  &:hover {
    color: var(--color-lime-green);
  }
}

.t-footer-copy {
  color: var(--color-white);
  opacity: .5;
  font-size: 1.5rem;
  line-height: 2.6rem;
  letter-spacing: -.23px;
  font-weight: var(--weight-regular);
}

// Buttons
@mixin request-button {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 2.8rem;
  border-radius: 2.2rem;
  padding: .8rem 3.3rem;
  font-weight: var(--weight-bold);
  color: var(--color-white);
  background: linear-gradient(135deg, #33D35E, #2AB6D9);
  transition: var(--transition) opacity;
}

.button {
  &--request {
    @include request-button;
    &:hover {
      opacity: .6;
    }
  }
}