// Header
.header {
  height: 6.4rem;
  width: 100%;
  text-align: center;
  background-color: var(--color-white);

  @media (min-width: 640px) {
    height: 8rem;
  }

  .container {
    width: 100%;
    height: 100%;
    max-width: 111rem;
    margin: 0 auto;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.4rem;
    @media (min-width: 1080px) {
      justify-content: flex-start;
    }
    @media (min-width: 1158px) {
      padding: 0;
    }
  }

  .branding {
    display: inline-flex;
    @media (min-width: 800px) {
      margin-top: .5rem;
    }
  }

  .desk-nav {
    display: none;
    @media (min-width: 640px) {
      display: inline-block;
      width: 33.1rem;
      height: 100%;
      &__menu {
        height: 100%;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        &__item {
          height: 100%;
          display: inline-flex;
          align-items: center;
          cursor: pointer;
          position: relative;
          &__underline {
            opacity: 0;
            background: linear-gradient(45deg, #33D35E, #2AB6D9);
            width: 100%;
            height: .4rem;
            position: absolute;
            bottom: 0;
            transition: var(--transition) opacity;
          }
          &:hover .desk-nav__menu__item__underline {
            opacity: 1;
          }
          &:hover .t-desk-nav {
            color: var(--color-dark-blue);
          }
        }
      }
    }
    @media (min-width: 1080px) {
      margin-left: auto;
      margin-right: 22.8rem;
    }
  }

  .nav-request {
    display: none;
    @media (min-width: 800px) {
      @include request-button;
      transition: var(--transition) opacity;
      &:hover {
        opacity: .6;
      }
    }
  }

  .mobile-nav {
    display: none;
  }
  .mobile-nav.show {
    @media (max-width: 639px) {
      display: block;
      position: fixed;
      top: 6.4rem;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(rgba(45, 49, 77, 1), rgba(45, 49, 77, 0));
      width: 100%;
      height: 100%;
      padding: 2.4rem 2.4rem 0;
      .mobile-nav__menu {
        background-color: var(--color-white);
        text-align: center;
        border-radius: .4rem;
        padding: 3.2rem 0;
        &__item:not(:last-child) {
          margin-bottom: 2.4rem;
        }
      }
    }
  }

  .mobile-nav-icon.hide {
    display: none;
  }
}

.header.sticky {
  position: fixed;
  top: 0;
  z-index: 1;
}

.header-spacer {
  display: none;
}
@media (max-width: 639px){
  .header-spacer.show {
    display: block;
    height: 6.4rem;
    width: 100%;
  }
}

.button {
  &--mobile-nav {
    @media (max-width: 639px) {
      display: inline-flex;
    }
    @media (min-width: 640px) {
      display: none;
    }
  }
}


// Footer
.footer {
  background-color: var(--color-dark-blue);
  padding: 4rem 0;
  text-align: center;

  @media (min-width: 1200px) {
    padding: 4.8rem 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 111rem;
    margin: 0 auto;
    @media (min-width: 800px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    @media (min-width: 1200px) {
      justify-content: flex-start;
    }
  }

  .footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 768px) {
      width: 15.4rem;
    }

    .footer-logo {
      display: inline-flex;
      justify-content: center;
      width: 100%;
      @media (min-width: 960px) {
        justify-content: flex-start;
      }
    }

    .socials {
      display: inline-flex;
      justify-content: space-between;
      margin-top: 3.6rem;
      width: 18.4rem;
      max-width: 18.4rem;
      @media (min-width: 768px) {
        width: 15.4rem;
        max-width: 15.4rem;
        margin-top: 5.5rem;
      }
  
      .social {
        display: inline-flex;
        transform: scale(1.2);
        
        @media (min-width: 768px) {
          transform: scale(1);
        }

        a {
          display: inline-flex;
        }
        a svg path {
          transition: var(--transition) fill;
        }
  
        &:hover {
          a svg path {
            fill: var(--color-lime-green);
          }
        }
      }
    }
  }


  .footer-menu {
    display: grid;
    width: 100%;
    gap: .8rem;
    margin: 3.2rem 0;
    @media (min-width: 768px) {
      margin: 0;
      width: 35rem;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: column;
      gap: .8rem 3rem;
      justify-items: start;
    }
    @media (min-width: 1200px) {
      margin-left: 13.1rem;
    }
  }

  .footer-copy {
    width: 100%;
    @media (min-width: 768px) {
      margin-top: 3.2rem;
    }
    @media (min-width: 960px) {
      width: 22rem;
      text-align: right;
      margin-top: 0;
    }

    @media (min-width: 1200px) {
      margin-left: auto;
    }
    
    .footer-copyright {
      margin-top: 2.4rem;
    }
  }
}