// Header
.header {
  height: 6.4rem;
  width: 100%;
  text-align: center;
  background-color: var(--color-white);

  @media (min-width: 640px) {
    height: 8rem;
  }

  .container {
    width: 100%;
    height: 100%;
    max-width: 111rem;
    margin: 0 auto;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.4rem;
    @media (min-width: 1080px) {
      justify-content: flex-start;
    }
    @media (min-width: 1158px) {
      padding: 0;
    }
  }

  .branding {
    display: inline-flex;
  }

  .desk-nav {
    display: none;
    @media (min-width: 640px) {
      display: inline-block;
      width: 33.1rem;
      height: 100%;
      &__menu {
        height: 100%;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        &__item {
          height: 100%;
          display: inline-flex;
          align-items: center;
          cursor: pointer;
          position: relative;
          &__underline {
            opacity: 0;
            background: linear-gradient(45deg, #33D35E, #2AB6D9);
            width: 100%;
            height: .4rem;
            position: absolute;
            bottom: 0;
            transition: var(--transition) opacity;
          }
          &:hover .desk-nav__menu__item__underline {
            opacity: 1;
          }
          &:hover .t-desk-nav {
            color: var(--color-dark-blue);
          }
        }
      }
    }
    @media (min-width: 1080px) {
      margin-left: auto;
      margin-right: 22.8rem;
    }
  }

  .nav-request {
    display: none;
    @media (min-width: 768px) {
      @include request-button;
      &:hover {
        opacity: .6;
      }
    }
  }

  .mobile-nav {
    display: none;
  }
  .mobile-nav.show {
    @media (max-width: 639px) {
      display: block;
      position: fixed;
      top: 6.4rem;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(rgba(45, 49, 77, 1), rgba(45, 49, 77, 0));
      width: 100%;
      height: 100%;
      padding: 2.4rem 2.4rem 0;
      .mobile-nav__menu {
        background-color: var(--color-white);
        text-align: center;
        border-radius: .4rem;
        padding: 3.2rem 0;
        &__item:not(:last-child) {
          margin-bottom: 2.4rem;
        }
      }
    }
  }

  .mobile-nav-icon.hide {
    display: none;
  }
}

.header.sticky {
  position: fixed;
  top: 0;
  z-index: 1;
}

.header-spacer {
  display: none;
}
@media (max-width: 639px){
  .header-spacer.show {
    display: block;
    height: 6.4rem;
    width: 100%;
  }
}

.button {
  &--mobile-nav {
    @media (max-width: 639px) {
      display: inline-flex;
    }
    @media (min-width: 640px) {
      display: none;
    }
  }
}