@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
:root {
  --color-dark-blue: hsl(233, 26%, 24%);
  --color-lime-green: hsl(136, 65%, 51%);
  --color-bright-cyan: hsl(192, 70%, 51%);
  --color-grayish-blue: hsl(233, 8%, 62%);
  --color-light-grayish-blue: hsl(220, 16%, 96%);
  --color-light-gray: hsl(0, 0%, 98%);
  --color-white: hsl(0, 0%, 100%);
  --weight-light: 300;
  --weight-regular: 400;
  --weight-bold: 700;
  --transition: 300ms ease-in-out;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  font-size: 1.8rem;
  background-color: var(--color-white);
  color: var(--color-grayish-blue);
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sr-only {
  padding: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
          clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  border: 0;
}

::-moz-selection {
  color: var(--color-white);
  background: var(--color-lime-green);
}

::selection {
  color: var(--color-white);
  background: var(--color-lime-green);
}

.t-mobile-nav {
  font-weight: var(--weight-regular);
  font-size: 1.8rem;
  line-height: 2.1rem;
  letter-spacing: -.14px;
  color: var(--color-dark-blue);
}

.t-desk-nav {
  font-weight: var(--weight-regular);
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: -.11px;
  color: var(--color-grayish-blue);
}

.header {
  height: 6.4rem;
  width: 100%;
  background-color: var(--color-white);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2.4rem;
}

@media (min-width: 640px) {
  .header {
    height: 8rem;
  }
}

.header .branding {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header .desk-nav {
  display: none;
}

@media (min-width: 640px) {
  .header .desk-nav {
    display: inline-block;
    width: 33.1rem;
    height: 100%;
  }
  .header .desk-nav__menu {
    height: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.header .nav-request {
  display: none;
}

.header .mobile-nav {
  display: none;
}

@media (max-width: 639px) {
  .header .mobile-nav.show {
    display: block;
    position: fixed;
    top: 6.4rem;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#2d314d), to(rgba(45, 49, 77, 0)));
    background: linear-gradient(#2d314d, rgba(45, 49, 77, 0));
    width: 100%;
    height: 100%;
    padding: 2.4rem 2.4rem 0;
  }
  .header .mobile-nav.show .mobile-nav__menu {
    background-color: var(--color-white);
    text-align: center;
    border-radius: .4rem;
    padding: 3.2rem 0;
  }
  .header .mobile-nav.show .mobile-nav__menu__item:not(:last-child) {
    margin-bottom: 2.4rem;
  }
}

.header .mobile-nav-icon.hide {
  display: none;
}

.header.sticky {
  position: fixed;
  top: 0;
}

.header-spacer {
  display: none;
}

@media (max-width: 639px) {
  .header-spacer.show {
    display: block;
    height: 6.4rem;
    width: 100%;
  }
}

@media (max-width: 639px) {
  .button--mobile-nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media (min-width: 640px) {
  .button--mobile-nav {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */