// Typography import
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,400;0,500;0,700;1,400&display=swap');

:root {
  // Colors
  --color-bright-red: hsl(12, 88%, 59%);
  --color-dark-blue: hsl(228, 39%, 23%);
  --color-dark-grayish-blue: hsl(227, 12%, 61%);
  --color-very-dark-blue: hsl(233, 12%, 13%);
  --color-very-pale-red: hsl(13, 100%, 96%);
  --color-very-light-gray: hsl(0, 0%, 98%);
  --color-light-red: #FCF6F5;
  --color-white: #fff;
  --color-alert-red: #F33C3C;

  // Font Weights
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;

  // Design elements
  --transition: 300ms ease-in-out;
}

// Reset
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Be Vietnam', sans-serif;
  font-size: 1.6rem;
  background-color: var(--color-white);
  color: var(--color-dark-blue);
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

// Screen Reader Only
.sr-only {
  padding: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  border: 0;
}

// Type Specs
.t-mobile-nav {
  font-weight: var(--weight-bold);
  font-size: 1.6rem;
  line-height: 2.3rem;
  letter-spacing: -.29px;
  color: var(--color-dark-blue);
}

.t-desk-nav {
  font-weight: var(--weight-medium);
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: var(--color-dark-blue);
  letter-spacing: 0px;
}

.t-h1 {
  font-size: 4rem;
  line-height: 5rem;
  letter-spacing: -1px;
  font-weight: var(--weight-bold);
  color: var(--color-dark-blue);
  @media (min-width: 1000px) {
    font-size: 5.6rem;
    line-height: 6.4rem;
  }
}

.t-h2 {
  font-size: 3rem;
  line-height: 4.5rem;
  letter-spacing: -.62px;
  font-weight: var(--weight-bold);
  color: var(--color-dark-blue);
  @media (min-width: 960px) {
    font-size: 4rem;
    line-height: 4.4rem;
    letter-spacing: -.71px;
  }
}

.t-h3 {
  font-size: 1.6rem;
  line-height: 2.3rem;
  letter-spacing: -.29px;
  font-weight: var(--weight-bold);
}

.t-body1 {
  font-size: 1.6rem;
  font-weight: var(--weight-regular);
  line-height: 2.8rem;
  letter-spacing: 0px;
  color: var(--color-dark-blue);
  opacity: .5;
  @media (min-width: 768px) {
    line-height: 2.6rem;
  }
}

.t-body2 {
  font-size: 1.4rem;
  font-weight: var(--weight-regular);
  line-height: 2.8rem;
  letter-spacing: 0px;
  color: var(--color-dark-blue);
  opacity: .5;
  @media (min-width: 768px) {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}

.t-name {
  font-size: 1.6rem;
  font-weight: var(--weight-bold);
  letter-spacing: -.29px;
  line-height: 2.3rem;
  color: var(--color-dark-blue);
}

.t-cta {
  font-size: 4rem;
  line-height: 5rem;
  letter-spacing: -1px;
  font-weight: var(--weight-bold);
  color: var(--color-white);
  @media (min-width: 768px) {
    line-height: 4.4rem;
    letter-spacing: -.71px;
  }
}

.t-footer-menu__item {
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: -.23px;
  font-weight: var(--weight-regular);
  color: var(--color-white);
  transition: var(--transition) color;
  &:hover {
    color: var(--color-bright-red);
  }
}

.t-copyright {
  opacity: .5;
  font-size: 1.3rem;
  line-height: 1.9rem;
  letter-spacing: -.2px;
  font-weight: var(--weight-regular);
  color: var(--color-white);
}

// Buttons
.button {

  &--getstart {
    font-size: 1.3rem;
    font-weight: var(--weight-bold);
    line-height: 1.9rem;
    letter-spacing: 0px;
    color: var(--color-light-red);
    background-color: var(--color-bright-red);
    padding: 1.2rem 3.2rem 1.3rem;
    box-shadow: 0 1.5rem 1.5rem -1rem #FF9F8E;
    border-radius: 2.2rem;
    transition: var(--transition) background-color, 
    var(--transition) transform, var(--transition) box-shadow;
    &:hover {
      background-color: #F98F75;
      transform: translateY(-2px);
      box-shadow: 0 2rem 2rem -1.5rem #FF9F8E;
    }
  }

  &--cta {
    font-size: 1.3rem;
    font-weight: var(--weight-bold);
    line-height: 1.9rem;
    letter-spacing: 0px;
    color: var(--color-bright-red);
    background-color: var(--color-white);
    padding: 1.2rem 3.2rem 1.3rem;
    box-shadow: 0 1.5rem 1.5rem -1rem #DB5943;
    border-radius: 2.2rem;
    transition: var(--transition) color, 
    var(--transition) transform, var(--transition) box-shadow;
    &:hover {
      color: #F9AF9D;
      transform: translateY(-2px);
      box-shadow: 0 2rem 2rem -1.5rem #DB5943;
    }
  }

  &--submit {
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-weight: var(--weight-bold);
    background-color: var(--color-bright-red);
    padding: 1.55rem 0;
    border-radius: 2.2rem;
    color: #FCF6F5;
    letter-spacing: 0px;
    width: 8rem;
    min-width: 8rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition) background-color;
    &:hover {
      background-color: #F9AF9D;
    }
    @media (min-width: 1158px) {
      width: 6.4rem;
      min-width: 6.4rem;
    }
  }
}
.section-button {
  display: inline-block;
}

.t-error {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -.08px;
  color: var(--color-alert-red);
  font-style: italic;
}

// body bg image
body {
  background-repeat: no-repeat;
  background-image: url(./images/bg-simplify-section-mobile.svg);
  background-size: contain;
  background-position-x: right;
  background-position-y: top;
  @media (min-width: 768px) {
    background-size: cover;
    background-image: url(./images/bg-simplify-section-desktop.svg);
  }
}

// Forms
.subscribe-form {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;

  &__input-group {
    position: relative;
    display: flex;
    margin-right: .8rem;
    width: 100%;
    p.error {
      position: absolute;
      bottom: -1.9rem;
      opacity: 1;
      left: 2.4rem;
      transition: var(--transition) opacity, var(--transition) bottom;
      @media (min-width: 768px) {
        left: 1.6rem;
      }
    }
    p.error.hide {
      bottom: 0;
      opacity: 0;
    }
  }

  &__input-field {
    border: 1px solid transparent;
    outline: none;
    border-radius: 2.2rem;
    padding: 1.2rem;
    padding-left: 2.4rem;
    width: 100%;
    // input field font setting
    font-size: 1.3rem;
    line-height: 1.9rem;
    letter-spacing: .2px;
    font-weight: var(--weight-regular);
    color: #8D8D8D;
    transition: var(--transition) border-color, var(--transition) color;
    @media (min-width: 768px) {
      padding-left: 1.6rem;
    }
  }

  &__input-field.error {
    border-color: var(--color-alert-red);
    color: var(--color-alert-red);
  }

  ::placeholder {
    // input field placeholder font setting
    font-size: 1.3rem;
    line-height: 1.9rem;
    letter-spacing: .2px;
    font-weight: var(--weight-regular);
    color: #8D8D8D;
  }
  
}