// Header
.header {
  text-align: center;
  .container {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 4rem;
    height: 2.2rem;
    padding: 0 2.4rem;
    @media (min-width: 900px) {
      height: 4.4rem;
      margin-top: 5.6rem;
    }
    @media (min-width: 1148px) {
      max-width: 111rem;
      padding: 0;
      margin: 5.6rem auto 0;
      justify-content: flex-start;
    }
  }

  .branding {
    display: inline-flex;
  }

  .desk-nav {
    display: none;
    @media (min-width: 768px) {
      display: inline-flex;
      align-items: center;
      &__menu {
        align-items: center;
        display: inline-flex;
        width: 39.8rem;
        justify-content: space-between;
        &__item {
          align-items: center;
          display: inline-flex;
          transition: var(--transition) opacity;
          &:hover {
            opacity: .5;
          }
        }
      }
    }
    @media (min-width: 1148px) {
      margin-left: auto;
      margin-right: 21.9rem;
    }
  }

  .nav-button {
    display: none;
    @media (min-width: 900px) {
      display: inline-flex;
    }
  }

  .burger-button {
    @media (max-width: 767px) {
      display: inline-flex;
      align-items: center;
      position: relative;
      width: 2.5rem;
      height: 2.2rem;
      z-index: 10;
    }
    @media (min-width: 768px) {
      display: none;
    }
  }

  .mobile-nav-icon {
    position: absolute;
    transition: var(--transition) transform, var(--transition) opacity;
  }
  .burger-button.active .mobile-nav-icon--burger {
    transform: rotate( 90deg ) scale( 0 );
    opacity: 0;
  }
  .burger-button:not(.active) .mobile-nav-icon--close {
    transform: rotate( 90deg ) scale( 0 );
    opacity: 0;
  }

  .mobile-nav {
    display: none;
  }

  .mobile-nav.show {
    @media (max-width: 767px) {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .6));
    }

    .mobile-nav__menu {
      margin: 10.3rem auto 0;
      width: 87.2%;
      background-color: var(--color-white);
      text-align: center;
      border-radius: .4rem;
      padding: 4rem 0;

      &__item:not(:last-of-type) {
        margin-bottom: 2.4rem;
      }
    }
  }
}

// Footer
.footer {
  background-color: #1D1E25;
  padding: 5.1rem 0 3rem;
  @media (min-width: 768px) {
    padding: 6.2rem 0 6.1rem;
  }
  
  .container {
    display: grid;
    padding: 0 2.4rem;
    row-gap: 5rem;
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 2rem;
    }
    @media (min-width: 1158px) {
      padding: 0;
      max-width: 111rem;
      margin: 0 auto;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 4.4rem 2rem;
      row-gap: 6rem;
    }
  }
  
  .subscribe {
    margin-bottom: .4rem;
    @media (min-width: 768px) {
      grid-row: 3/4;
      grid-column: 2/3;
      margin-bottom: 0;
      justify-self: end;
      width: 100%;
      max-width: 36rem;
    }
    @media (min-width: 1158px) {
      grid-row: 1/2;
      grid-column: 3/4;
    }
  }

  .footer-nav {
    display: inline-flex;
    justify-content: space-between;
    padding-left: 3.9rem;
    padding-right: 2.4rem;
    @media (min-width: 768px) {
      grid-row: 1/3;
      grid-column: 2/3;
      padding: 0;
    }

    .footer-menu {
      &__item:not(:last-of-type) {
        margin-bottom: 1.3rem;
      }
    }
  }

  .socials {
    display: inline-flex;
    justify-content: space-between;
    max-width: 29.6rem;
    width: 100%;
    margin: 0 auto .4rem;
    @media (min-width: 768px) {
      max-width: 15.4rem;
      grid-row: 2/3;
      grid-column: 1/2;
      margin: 0;
      align-self: self-end;
    }

    .social {
      width: 3.2rem;
      height: 3.2rem;
      @media (min-width: 768px) {
        width: 2rem;
        height: 2rem;
      }

      &__icon {
        width: 100%;
        height: 100%;
        display: inline-block;
        svg {
          transform: scale(1.52) translate(20%, 20%);
          @media (min-width: 768px) {
            transform: scale(1);
          }
        }
      }
    }
  }

  .footer-logo {
    display: inline-flex;
    justify-content: center;
    @media (min-width: 768px) {
      grid-row: 1/2;
      grid-column: 1/2;
      justify-content: flex-start;
    }
    @media (min-width: 1158px) {
      align-self: start;
    }
  }

  .copyright {
    text-align: center;
    @media (min-width: 768px) {
      grid-column: 2/3;
      grid-row: 4/5;
      text-align: right;
    }
    @media (min-width: 1158px) {
      grid-row: 2/3;
      grid-column: 3/4;
    }
  }
}