// Intro section
.intro {
  padding-top: 4.8rem;
  padding-bottom: 9.3rem;
  // center align the container
  text-align: center;
  @media (min-width: 1000px) {
    padding-top: 12rem;
    padding-bottom: 13.2rem;
  }

  .container {
    padding: 0 2.4rem;
    margin: 0 auto;
    max-width: 111rem;
    width: 100%;
    @media (min-width: 768px) {
      display: inline-flex;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    @media (min-width: 1148px) {
      padding: 0;
    }
  }

  &__image {
    @media (min-width: 768px) {
      width: 40%;
    }
    @media (min-width: 1080px) {
      width: 54rem;
    }
    img {
      width: 100%;
    }
  }
  &__content {
    text-align: center;
    margin-top: 1.9rem;
    @media (min-width: 768px) {
      width: 45%;
      text-align: left;
      margin-top: 0;
      max-width: 44.5rem;
    }
    @media (min-width: 1000px) {
      width: 44.5rem;
    }

    &__body {
      margin-top: .9rem;
      margin-bottom: 2.9rem;
      @media (min-width: 768px) {
        max-width: 35rem;
      }
    }
  }
}

// Features section
.features {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    @media (min-width: 420px) {
      padding: 0 2.4rem;
    }
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
    @media (min-width: 1158px) {
      padding: 0;
      max-width: 111rem;
      margin: 0 auto;
    }
  }

  &__intro {
    text-align: center;
    @media (max-width: 419px) {
      padding: 0 2.6rem;
    }
    @media (min-width: 420px) {
      padding: 0;
    }
    @media (min-width: 768px) {
      text-align: left;
      width: 45%;
      max-width: 44.5rem;
    }

    &__heading {
      margin-bottom: 1.3rem;
      @media (max-width: 419px) {
        padding: 0 1rem;
      }
      @media (min-width: 420px) {
        padding: 0;
      }
      @media (min-width: 1080px) {
        margin-bottom: 2.4rem;
      }
    }

    &__body {
      @media (min-width: 1080px) {
        max-width: 35rem;
      }
    }
  }

  &__list {
    margin: 5.4rem auto 0;
    max-width: 43rem;

    @media (min-width: 768px) {
      margin: 0;
      width: 45%;
      max-width: 54rem;
    }
    @media (min-width: 1080px) {
      width: 100%;
    }
  }
  

  .feature {

    &__heading {
      display: inline-flex;
      align-items: center;
      position: relative;
      width: 100%;
      margin-left: 0;
      @media (max-width: 419px) {
        margin-left: 1.6rem;
      }


      &::before {
        @media (max-width: 959px) {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: var(--color-very-pale-red);
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: -1;
          border-top-left-radius: 3.9rem;
          border-bottom-left-radius: 3.9rem;
          @media (min-width: 420px) {
            border-radius: 3.9rem;
          }
        }
        @media (min-width: 960px) {
          content: none;
        }
      }

      &__number {
        font-size: 1.6rem;
        line-height: 2.3rem;
        letter-spacing: -.29px;
        font-weight: var(--weight-bold);
        color: var(--color-white);
        padding: .6rem 2.4rem 1rem 2.5rem;
        background-color: var(--color-bright-red);
        border-radius: 3.9rem;
      }
      &__content {
        margin-left: 1.5rem;
        @media (min-width: 1080px) {
          margin-left: 2.8rem;
        }
      }
    }
    &__body {
      margin-top: .8rem;

      @media (max-width: 419px) {
        padding-left: 1.6rem;
        padding-right: 1.7rem;
      }
      @media (min-width: 420px) {
        padding: 0;
      }
      @media (min-width: 1080px) {
        padding-left: 9.5rem;
      }
    }

    &:not(:last-of-type) {
      margin-bottom: 4.7rem;
      @media (min-width: 960px) {
        margin-bottom: 4rem;
      }
    }
  }
}