.calltoaction {
  text-align: center;
  padding: 8rem 2.4rem;
  background-repeat: no-repeat;
  background-image: url(../../../images/homepage/ready-bg-mobile@2x.jpg);
  background-size: cover;
  &__heading {
    margin-bottom: 2.4rem;
  }
}