.middle {
  @media (max-width: $bp-tablet-end) {
    text-align: center;
  }

  background-repeat: no-repeat;
  @media (min-width: $bp-tablet-start) and (max-width: $bp-tablet-end) {
    background-position-y: 10rem, bottom;
    background-position-x: -67vw, 52vw;
    background-image: url(../../images/patterns/pattern-curve-top-right.svg), url(../../images/patterns/pattern-curve-top-left.svg);
  }

  &__family {
    @media (max-width: $bp-mobile) {
      margin-bottom: 0.8rem;
    }
    @media (min-width: $bp-tablet-start) {
      margin-bottom: 12rem;
    }
  }
  &__locally {
    position: relative;
    &__floating-pattern {
      display: none;
      @media (min-width: $bp-tablet-start) {
        display: flex;
        position: absolute;
        right: 0;
        top: 22.8rem;
        transform: translateX(5.8rem);
      }
    }
  }

  &__content {
    &--first {
      @media (max-width: $bp-mobile) {
        transform: translateY(-7.2rem);
      }
      @media (min-width: $bp-tablet-start) and (max-width: $bp-tablet-end) {
        transform: translateY(-9.6rem);
      }
      @media (min-width: $bp-desktop) {
        transform: translateY(-7rem);
      }
    }
    margin-top: 5.1rem;

    &__body {
      @media (min-width: $bp-tablet-start) and (max-width: $bp-tablet-end) {
        max-width: 45.7rem;
        margin: 0 auto;
      }
    }
  }

  &__container {
    @media (max-width: $bp-mobile) {
      padding: 0 2.4rem 8rem;
    }
    @media (min-width: $bp-tablet-start) and (max-width: $bp-tablet-end) {
      padding: 0 9.7rem 12rem;
    }
  }


  &__section-card {
    box-shadow: var(--card-shadow);
    
    &--first {
      @media (max-width: $bp-mobile) {
        transform: translateY(-7.2rem);
      }
      @media (min-width: $bp-tablet-start) and (max-width: $bp-tablet-end) {
        transform: translateY(-9.6rem);
      }
      @media (min-width: $bp-desktop) {
        transform: translateY(-7rem);
      }
    }

    &__image {
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      &--first {
        @media (max-width: $bp-mobile) {
          background-image: url(../../images/homepage/enjoyable-place-mobile@2x.jpg);
        }
        @media (min-width: $bp-tablet-start) and (max-width: $bp-tablet-end) {
          background-image: url(../../images/homepage/enjoyable-place-tablet@2x.jpg);
        }
        @media (min-width: $bp-desktop) {
          background-image: url(../../images/homepage/enjoyable-place-desktop@2x.jpg);
        }
      }
      &--second {
        @media (max-width: $bp-mobile) {
          background-image: url(../../images/homepage/locally-sourced-mobile@2x.jpg);
        }
        @media (min-width: $bp-tablet-start) and (max-width: $bp-tablet-end) {
          background-image: url(../../images/homepage/locally-sourced-tablet@2x.jpg);
        }
        @media (min-width: $bp-desktop) {
          background-image: url(../../images/homepage/locally-sourced-desktop@2x.jpg);
        }
      }

      @media (max-width: $bp-mobile) {
        min-height: 40rem;
        background-position: center center;
      }
      @media (min-width: $bp-tablet-start) and (max-width: $bp-tablet-end) {
        min-height: 36rem;
      }
      @media (min-width: $bp-desktop) {
        min-height: 72rem;
      }
    }

  }

  &__heading {
    margin-bottom: 1.6rem;

    @media (max-width: $bp-tablet-end) {
      margin-top: 3.2rem;
    }
    @media (min-width: $bp-desktop) {
      margin-top: 4.8rem;
    }
  }
}