.about-mobility {
  position: relative;
  overflow: hidden;
  .container {
    padding: 0 3.2rem;
    @media #{$mq-medium} {
      padding: 0 5rem;
      max-width: var(--space-max-width);
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
    }
    @media (min-width: 1200px) {
      padding: 0;
    }
  }
  .picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 31.1rem;
    margin: 0 auto;
    @media #{$mq-small} {
      max-width: 44.5rem;
      width: 44.5rem;
    }
    @media #{$mq-medium} {
      margin: 0;
    }
    img {
      border-radius: 50%;
      width: 100%;
    }
  }
  .copy {
    margin-top: 5.6rem;
    text-align: center;
    @media #{$mq-small} {
      max-width: 57.3rem;
      margin: 5.6rem auto 0;
    }
    @media #{$mq-medium} {
      max-width: 44.3rem;
      text-align: left;
      margin: 0;
    }
    h2 {
      margin-bottom: 3.2rem;
      @media #{$mq-small} {
        margin-bottom: 4rem;
      }
      @media #{$mq-medium} {
        margin-bottom: 2.4rem;
      }
    }
  }
  .pattern {
    position: absolute;
    &--arrow {
      top: 13.3rem;
      left: 3rem;
      @media #{$mq-small} {
        top: 26.8rem;
        left: auto;
        right: 0;
      }
      @media #{$mq-medium} {
        right: auto;
        left: 50%;
      }
      @media (min-width: 1380px) {
        right: 0;
        left: auto;
      }
      img {
        @media #{$mq-small} {
          width: 73.4rem;
        }
      }
    }
    &--circle {
      display: none;
      @media #{$mq-small} {
        display: block;
        top: 0;
        right: -35rem;
      }
      @media #{$mq-medium} {
        right: -42rem;
      }
      @media (min-width: 1370px) {
        right: -35rem;
      }
    }
  }
}
.about-urban-living {
  position: relative;
  overflow: hidden;
  margin-top: var(--space-s);
  .container {
    padding: 0 3.2rem;
    @media #{$mq-medium} {
      padding: 0 5rem;
      max-width: var(--space-max-width);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
    }
    @media (min-width: 1200px) {
      padding: 0;
    }
  }
  .picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 31.1rem;
    margin: 0.8rem auto 0;
    @media #{$mq-small} {
      margin: 0 auto;
      max-width: 44.5rem;
      width: 44.5rem;
    }
    @media #{$mq-medium} {
      margin: 0;
    }
    img {
      border-radius: 50%;
      width: 100%;
    }
  }
  .copy {
    margin-top: 5.6rem;
    text-align: center;
    @media #{$mq-small} {
      max-width: 57.2rem;
      margin: 5.6rem auto 0;
    }
    @media #{$mq-medium} {
      max-width: 44.5rem;
      text-align: left;
      margin: 0;
    }
    h2 {
      margin-bottom: 3.2rem;
      @media #{$mq-small} {
        margin-bottom: 4rem;
      }
      @media #{$mq-medium} {
        margin-bottom: 2.4rem;
      }
    }
  }
  .pattern {
    position: absolute;
    &--arrow {
      top: 0;
      right: 2.7rem;
      @media (min-width: 478px) {
        right: auto;
        left: 0;
      }
      @media #{$mq-small} {
        left: -9.8rem;
      }
      @media (min-width: 1540px) {
        left: 0;
      }
      img {
        @media #{$mq-small} {
          height: 15.1rem;
        }
      }
    }
    &--circle {
      display: none;
      @media #{$mq-small} {
        display: block;
        top: 0;
        left: -35rem;
      }
      @media #{$mq-medium} {
        left: -42rem;
      }
      @media (min-width: 1370px) {
        left: -35rem;
      }
    }
  }
}

.values {
  margin-top: var(--space-s);
  text-align: center;
  .container {
    padding: 6.4rem 3.2rem 0;
    max-width: 45.7rem;
    margin-left: auto;
    margin-right: auto;
    @media #{$mq-small} {
      padding: 10.5rem 0 0;
    }
    @media (min-width: 1150px) {
      max-width: var(--space-max-width);
      padding: 10.3rem 0 0;
      display: flex;
      justify-content: space-between;
    }
  }

  .value {
    &:not(:last-child) {
      margin-bottom: 5.6rem;
      @media (min-width: 1150px) {
        margin-bottom: 0;
      }
    }

    .picture {
      height: 24rem;
      position: relative;
      img {
        border-radius: 50%;
      }
      .number {
        background-color: var(--color-yellow);
        width: 9.6rem;
        height: 9.6rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 59%);
      }
    }
    .copy {
      margin-top: 6.4rem;
      @media #{$mq-small} {
        margin-top: 8.7rem;
      }
      @media (min-width: 1150px) {
        max-width: 35rem;
        margin-left: auto;
        margin-right: auto;
      }
      h4 {
        margin-bottom: 2.7rem;
      }
    }
  }
}

.faqs {
  margin-top: 14.5rem;
  margin-bottom: var(--space-s);
  @media #{$mq-small} {
    margin-top: var(--space-s);
  }
  @media #{$mq-medium} {
    margin-bottom: var(--space-m);
  }
  &__heading {
    text-align: center;
    margin-bottom: 4.8rem;
    @media #{$mq-small} {
      margin-bottom: 6.4rem;
    }
  }

  .article {
    @media (min-width: 1150px) {
      display: flex;
      justify-content: space-between;
    }

    &__heading {
      text-align: center;
      margin-bottom: 3.2rem;
      @media (min-width: 1150px) { margin: 0; text-align: left; }
    }
  }
  .article:not(:last-of-type) {
    margin-bottom: 4.8rem;
    @media #{$mq-small} {
      margin-bottom: 6.4rem;
    }
    @media (min-width: 1150px) {
      margin-bottom: 6.4rem;
    }
  }

  .container {
    padding: 0 3.2rem;
    max-width: 45.7rem;
    margin: 0 auto;
    @media #{$mq-small} {
      max-width: 68.9rem;
      padding: 0;
    }
    @media (min-width: 1150px) {
      max-width: var(--space-max-width);
    }
  }

  .accordions {
    @media (min-width: 1150px) {
      max-width: 73rem;
    }
    .accordion {
      background-color: var(--color-snow);
      padding: 3.2rem 2.8rem 3.2rem 3.2rem;
      transition: var(--transition) background-color;
      &:hover {
        background-color: var(--color-light-yellow);
      }

      @media #{$mq-small} {
        padding: 3.2rem 3.2rem 3.2rem 4rem;
      }
      @media (min-width: 1150px) {
        padding: 3.2rem 4rem;
      }

      .question {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        &__heading {
          margin-right: 2rem;
          @media #{$mq-small} {
            margin-right: 0;
          }
        }
        .arrow-down {
          display: block;
        }
        .arrow-up {
          display: none;
        }
      }
      .question.active {
        .arrow-down {
          display: none;
        }
        .arrow-up {
          display: block;
        }
      }
      .answer {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        .faq-body {
          margin-top: 2.4rem;
        }
      }
    }
    .accordion:not(:last-of-type) {
      margin-bottom: 1.6rem;
      @media #{$mq-medium} {
        margin-bottom: 2.4rem;
      }
      @media #{$mq-medium} {
        margin-bottom: 1.6rem;
      }
    }
  }
}
