// headers
// nav bar
.header {
  position: fixed;
  width: 100%;
  height: 6.4rem;
  background: #fff;
  z-index: 3;
  .container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 6.4rem;
    @media #{$mq-small} {
      justify-content: space-between;
      width: 100%;
    }
  }
  @media #{$mq-small} {
    display: flex;
    position: relative;
    height: 9.6rem;
    padding-right: 4rem;
    padding-left: 4rem;
    justify-content: space-between;
    align-items: center;
    .nav-container {
      display: flex;
      align-items: center;
    }
  }
  @media #{$mq-medium} {
    max-width: var(--space-max-width);
    margin: 0 auto;
  }
  @media (min-width: 1200px) {
    padding: 0;
  }

  .cta {
    display: none;
    @media #{$mq-small} {
      display: flex;
    }
  }

  .menu-trigger {
    background: none;
    border: none;
    padding: 0;
    position: absolute;
    left: 3.2rem;
    &:focus {
      outline: none;
    }
    &__icon {
      display: none;
    }
    &__icon.active {
      display: block;
    }
    @media #{$mq-small} {
      display: none;
    }
  }
  &__nav {
    display: none;
    @media #{$mq-small} {
      display: block;
      margin-left: 5.7rem;
    }
    @media #{$mq-medium} {
      margin-left: 6.15rem;
    }
  }
}

.logo {
  width: 7.55rem;
  height: 2rem;
  img { width: 100%; }
  @media #{$mq-small} {
    width: 10.8rem;
    height: 2.9rem;
  }
}

.nav__items {
  display: flex;
  align-items: center;
  .nav__item {
    &:nth-child(2) {
      margin: 0 3.2rem;
    }
  }
}

// Side menu for mobile devices
.side-menu {
  display: none;
  &__items {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 68.267%;
    padding-top: 6.4rem;
    padding-left: 3.2rem;
    padding-bottom: 2.4rem;
    background-color: #333A44;
    @media (max-width: 340px) {
      justify-content: center;
      padding: 2rem 0;
      align-items: center;
    }
  }
  &__item {
    &:nth-child(2) {
      margin: 2.4rem 0;
    }
    &:last-child {
      margin-top: auto;
    }
  }
}
.side-menu.open {
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  width: 100%;
  display: block;
  position: fixed;
  overflow-y: auto;
  height: calc(100% - 6.4rem);
  transform: translateY(6.4rem);
  background-color: rgba(0, 0, 0, .75);
  @media #{$mq-small} {
    display: none;
  }
}

// page header
.page-header {
  height: 16rem;
  margin-bottom: 7.2rem;
  @media #{$mq-small} {
    height: 20rem;
    margin-bottom: 14.4rem;
  }
  @media #{$mq-medium} { margin-bottom: var(--space-s); }
  position: relative;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;

  .container {
    max-width: 111rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    @media #{$mq-small} {
      justify-content: flex-start;
      padding: 0 9.7rem;
    }
    @media #{$mq-medium} {
      padding: 0 5rem;
    }
    @media (min-width: 1200px) {
      padding: 0;
    }
  }
  &__circles {
    display: none;
    @media #{$mq-small} {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%) translateX(3.1rem);
      height: 6.3rem;
      display: flex;
    }
  }
  &--about {
    background-image: url(./assets/images/about-hero-mobile.jpg);
    @media #{$mq-small} {
      background-image: url(./assets/images/about-hero-tablet.jpg);
    }
    @media #{$mq-medium} {
      background-image: url(./assets/images/about-hero-desktop.jpg);
    }
  }
  &--careers-location {
    background-image: url(./assets/images/careers-location-hero-mobile.jpg);
    @media #{$mq-small} {
      background-image: url(./assets/images/careers-locations-hero-tablet.jpg);
    }
    @media #{$mq-medium} {
      background-image: url(./assets/images/careers-locations-hero-desktop.jpg);
    }
  }


  &--design-system {
    background-image: url(./assets/images/about-hero-desktop.jpg);
    &__container {
      padding-top: 6.4rem;
      position: relative;
      .content-holder {
        position: absolute;
        z-index: 1;
      }
    }
    &__arrow {
      position: absolute;
      width: 447px;
      height: 138px;
      transform: translateX(-224px) translateY(30px);
      z-index: 0;
      img {
        width: 100%;
      }
    }
  }
}


// Main component
.main {
  @media (max-width: 767px) {
    padding-top: 6.4rem;
  }
}


footer {
  background-color: #333A44;
  .container {
    max-width: var(--space-max-width);
    margin: 0 auto;
    padding: 6.4rem 0 8.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media #{$mq-small} {
      flex-direction: row;
      padding: 3.6rem 4rem;
    }
    @media (min-width: 1200px) {
      padding: 3.6rem 0;
    }
  }

  .footer-logo {
    display: flex;
  }

  .footer-nav {
    text-align: center;
    margin: 4.1rem auto 8.5rem;
    @media #{$mq-small} {
      margin: 0;
      display: flex;
      margin-left: 5.8rem;
    }
    @media #{$mq-medium} {
      margin-left: 6.15rem;
    }
    .footer-nav__item:nth-child(2) {
      margin: 1.6rem 0;
      @media #{$mq-small} {
        margin: 0 3.2rem;
      }
    }
  }

  .socials {
    display: flex;
    align-items: center;
    @media #{$mq-small} {
      margin-left: auto;
    }
    .social:nth-child(2) {
      margin: 0 2.4rem;
    }
    .social path {
      transition: var(--transition) fill;
    }
    .social:hover {
      path {
        fill: var(--color-light-grey);
      }
    }
  }
}