.main--home {
  overflow-x: hidden;
}

.home-hero {
  height: 65rem;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  background-image: url(./assets/images/home-hero-mobile.jpg);
  overflow: hidden;
  position: relative;
  @media #{$mq-small} {
    background-image: url(./assets/images/home-hero-tablet.jpg);
  }
  @media #{$mq-medium} {
    text-align: left;
    background-image: url(./assets/images/home-hero-desktop.jpg);
  }

  .container {
    padding: 11.5rem 3.2rem 0;
    max-width: 50rem;
    margin: 0 auto;
    @media #{$mq-small} {
      padding: 13.7rem 0 0;
      max-width: 57.3rem;
    }
    @media #{$mq-medium} {
      max-width: var(--space-max-width);
    }
    @media #{$mq-medium} and (max-width: 1199px) {
      padding: 15.3rem 0 0 6rem;
    }
    @media (min-width: 1200px) {
      padding: 15.3rem 0 0;
    }
  }

  .heading {
    max-width: 50rem;
    margin: 0 auto;
    @media #{$mq-medium} {
      margin: 0;
    }
  }

  .copy {
    margin-top: 2.4rem;
    &__text-content {
      margin-bottom: 3.4rem;
      @media #{$mq-small} {
        margin-bottom: 3.2rem;
      }
      @media #{$mq-medium} {
        margin-bottom: 4rem;
      }
    }
    @media #{$mq-medium} {
      max-width: 40.5rem;
      margin-left: 9.5rem;
      margin-top: 4rem;
    }
  }

  // circles
  .circles {
    display: none;
    position: absolute;
    @media #{$mq-small} {
      display: block;
      bottom: 4.2rem;
      right: -3.1rem;
    }
    @media #{$mq-medium} {
      bottom: 11rem;
      right: -4.8rem;
    }
    @media (min-width: 1370px) {
      bottom: 16.2rem;
      right: -4.8rem;
    }
    img {
      width: 100%;
    }
  }

  // arrow
  .arrow {
    position: absolute;
    width: 45.2rem;
    height: 15.1rem;
    right: 62.667%;
    @media #{$mq-small} {
      right: 57.8125%;
      margin-top: 3.2rem;
    }
    @media #{$mq-medium} {
      right: 23%;
      bottom: 11.3rem;
      margin-top: 0;
    }
    @media (min-width: 1370px) {
      right: 19.65%;
      bottom: 15.2rem;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }

  .line {
    display: none;
    @media #{$mq-medium} {
      display: flex;
      position: absolute;
      bottom: 28.8rem;
      left: -8%;
    }
    @media (min-width: 1370px) {
      bottom: 28.8rem;
      left: 0;
    }
  }
}

.btn--home-hero {
  margin: 0 auto;
  @media #{$mq-medium} {
    margin: 0;
  }
}

// steps section
.steps {
  .container {
    padding: var(--space-s) 3.2rem 0;
    max-width: 50rem;
    margin: 0 auto;
    @media #{$mq-small} {
      position: relative;
      padding: 12.2rem 0 0;
      max-width: 57.3rem;
    }
    @media (min-width: 1200px) {
      padding: var(--space-m) 0 0;
      max-width: var(--space-max-width);
      display: flex;
      justify-content: space-between;
    }
    

    .vertical-line {
      display: none;
      @media #{$mq-small} {
        display: flex;
        position: absolute;
        left: 4.1rem;
        top: 0;
        z-index: -1;
      }
      @media (min-width: 1200px) {
        display: none;
      }
    }

    .horizontal-line {
      display: none;
      @media (min-width: 1200px) {
        display: flex;
        position: absolute;
        z-index: -1;
        top: 20.1rem;
        transform: translateX(-16.5rem);
      }
    }
  }
  .step {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media #{$mq-small} {
      flex-direction: row;
      align-items: flex-start;
      text-align: left;
      justify-content: space-between;
    }
    @media (min-width: 1200px) {
      flex-direction: column;
    }
    &:not(:last-child) {
      margin-bottom: 4.8rem;
      @media #{$mq-small} {
        margin-bottom: 4rem;
      }
      @media (min-width: 1200px) {
        margin-bottom: 0;
      }
    }
    &__icon {
      display: flex;
      width: 5.6rem;
      margin-bottom: 2.4rem;
      @media #{$mq-small} {
        margin-bottom: 0;
        width: 9.6rem;
      }
      @media (min-width: 1200px) {
        margin-bottom: 4rem;
      }
      img {
        width: 100%;
      }
    }
    &__copy {
      @media #{$mq-small} {
        max-width: 39.6rem;
      }
      @media (min-width: 1200px) {
        max-width: 35rem;
      }
      h4 {
        margin-bottom: 2.4rem;
        @media #{$mq-small} {
          margin-bottom: 2.7rem;
        }
      }
    }
  }
}

// features section
.features {
  position: relative;
  .container {
    padding: var(--space-s) 3.23rem;
    @media #{$mq-small} {
      padding: var(--space-s) 0 10.4rem;
    }
    @media #{$mq-medium} {
      max-width: var(--space-max-width);
      margin: 0 auto;
      padding: var(--space-l) 5rem;
    }
    @media (min-width: 1200px) {
      padding: var(--space-l) 0;
    }
  }

  .feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    @media #{$mq-medium} {
      text-align: left;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      &:nth-child(2) {
        flex-direction: row;
      }
    }
    &:not(:last-of-type) {
      margin-bottom: var(--space-s);
      @media #{$mq-medium} { margin-bottom: var(--space-m); }
    }
    &__picture {
      width: 100%;
      height: 31.1rem;
      max-width: 31.1rem;
      margin: 0 auto 5.6rem;
      @media #{$mq-small} {
        max-width: 44.5rem;
        width: 44.5rem;
        height: 44.5rem;
      }
      @media #{$mq-medium} { margin: 0; }
      &__img {
        width: 100%;
        border-radius: 50%;
      }

    }
    &__copy {
      max-width: 50rem;
      margin: 0 auto;
      @media #{$mq-small} { max-width: 57.3rem; }
      @media #{$mq-medium} {
        max-width: 44.5rem;
        margin: 0;
      }
      p {
        margin: 3.2rem 0;
        @media #{$mq-small} { margin: 4rem 0; }
        @media #{$mq-medium} { margin: 2.4rem 0 4rem; }
      }
    }
  }


  .pattern {
    position: absolute;

    &--circle {
      display: none;
      @media #{$mq-small} {
        display: block;
        height: 44.5rem;
      }
      &--group-1 {
        top: 12rem;
        right: 0;
        transform: translateX(350px);
        @media #{$mq-medium} {
          top: 20rem;
          transform: translateX(412px);
        }
        @media (min-width: 1350px) {
          transform: translateX(345px);
        }
      }
      &--group-2 {
        top: 104.5rem;
        left: -34.5rem;
        @media #{$mq-medium} {
          top: 80.5rem;
          left: -42rem;
        }
        @media (min-width: 1350px) {
          left: -34.5rem;
        }
      }
      &--group-3 {
        top: 197rem;
        right: 0;
        transform: translateX(350px);
        @media #{$mq-medium} {
          top: 141rem;
          transform: translateX(412px);
        }
        @media (min-width: 1350px) {
          transform: translateX(345px);
        }
      }
    }

    &--arrow {
      &--group-1 {
        top: 29rem;
        left: 7.2%;
        @media (min-width: 700px) {
          left: 10%;
        }
        @media #{$mq-small} {
          img { width: 734px; }
          left: auto;
          right: 0;
          top: 41.7rem;
        }
        @media #{$mq-medium} {
          top: 50rem;
        }
      }
      &--group-2 {
        top: 93rem;
        right: 10.8rem;
        @media (min-width: 500px) {
          right: auto;
          left: 0;
        }
        @media #{$mq-small} {
          top: 104.5rem;
          left: -10rem;
        }
        @media #{$mq-medium} {
          top: 80.5rem;
        }
      }
      &--group-3 {
        top: 175.5rem;
        left: 15.7rem;
        @media #{$mq-small} {
          top: 207.1rem;
          left: 53.906%;
        }
        @media #{$mq-medium} {
          top: 149.5rem;
          left: 75%;
        }
      }
    }
  }
}

.btn--home-feature {
  margin: 0 auto;
  @media #{$mq-medium} {
    margin: 0;
  }
}

.call-to-action {
  width: 100%;
  position: relative;
  background-color: var(--color-dark-navy);
  .container {
    text-align: center;
    padding: 8.8rem 0;
    margin: 0 auto;
    max-width: 37.5rem;
    @media #{$mq-small} { 
      padding: 6.2rem 0;
      max-width: 45.5rem;
     }
    @media #{$mq-medium} {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      padding: 10.2rem 5rem;
      max-width: var(--space-max-width);
    }
    @media (min-width: 1200px) {
      padding: 10.2rem 0;
    }
  }
  .copy {
    margin-bottom: 4rem;
    @media #{$mq-medium} {
      max-width: 41.5rem;
      margin-bottom: 0;
    }
  }
  .stores {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .store {
      height: 4rem;
      @media #{$mq-medium} {
        height: 5.6rem;
      }
      &:first-child {
        margin-right: 1.286rem;
        @media #{$mq-medium} {
          margin-right: 1.8rem;
        }
      }
      img {
        width: auto;
        height: 100%;
      }
    }
  }
  &__bg-pattern {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    max-width: 100rem;
    height:18.1rem;
    @media #{$mq-small} {
      height:15.7rem;
    }
    img {
      position: absolute;
      right: 0;
      transform: translateX(17.1rem);
      @media #{$mq-small} {
        transform: translateX(16.3rem);
      }
    }
  }
}