.main--contact {
  @media (min-width: 768px) {
    margin-top: 9.4rem;
  }
}

.get-in-touch {
  border-top: 1px solid var(--color-border-gray);
  border-bottom: 1px solid var(--color-border-gray);
  display: flex;
  flex-direction: column;

  padding: 2.4rem 0 3.2rem;
  @media (min-width: 768px) {
    padding: 3.2rem 0;
  }
  @media (min-width: 1024px) {
    padding: 4.8rem 0;
    flex-direction: row;
    justify-content: space-between;
  }
  .get-in-touch__body {
    margin-top: 2.4rem;
    @media (min-width: 1024px) {
      max-width: 63.5rem;
      margin-top: 0;
    }
  }
}

.contact {
  margin-top: 3.2rem;
  margin-bottom: 8rem;
  @media (min-width: 768px) {
    margin-bottom: 9.6rem;
  }
  @media (min-width: 1024px) {
    margin-top: 4.7rem;
    margin-bottom: 10.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-form {
    margin-top: 2.4rem;
    @media (min-width: 768px) {
      margin-top: 3.2rem;
    }
    @media (min-width: 1024px) {
      margin-top: 0;
      width: 63.5rem;
      max-width: 63.5rem;
    }

    &__input-group {
      margin-bottom: 2.4rem;
      .form-label {
        margin-bottom: .8rem;
      }
    }

    &__input-field {
      background-color: var(--color-form-input-bg);
      height: 4.8rem;
      width: 100%;
      padding: .9rem 1.6rem;
      color: var(--color-grayish-dark-blue);
      font-size: 1.3rem;
      line-height: 3rem;
      font-family: var(--font-family-sans);
      font-weight: var(--weight-regular);
      outline: none;
      border: 1px solid transparent;
      transition: var(--transition) border-color;
      &::placeholder {
        color: var(--color-form-input-place-holder);
      }
      
      &--textarea {
        height: 9.6rem;
      }
    }

    &__input-field.error {
      border-color: var(--color-red);
    }

    &__input-field:focus {
      border-color: var(--color-cyan);
    }
  }
}

p.error {
  font-size: 1rem;
  line-height: 1.1rem;
  color: var(--color-red);
  font-family: var(--font-family-sans);
  font-weight: var(--weight-bold);
  font-style: italic;
  margin-top: .4rem;
  position: absolute;
  z-index: -1;
  height: 0;
  transform: translateY(0);
  opacity: 1;
  transition: var(--transition) transform, var(--transition) opacity;
}

p.error.hide {
  height: 0;
  opacity: 0;
  transform: translateY(-2rem);
}