.main--prject-detail {
  @media (min-width: 768px) {
    margin-top: 9.4rem;
  }
}
.project-detail-hero {
  width: 100%;
  margin-bottom: 4rem;
  @media (min-width: 1024px) {
    margin-bottom: 11.5rem;
  }
  &__image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 14rem;
    @media (min-width: 768px) {
      height: 31rem;
    }
    @media (min-width: 1024px) {
      height: 50rem;
    }
  }
  &__image--manage {
    background-image: url(./images/detail/mobile/image-manage-hero@2x.jpg);
    @media (min-width: 768px) {
      background-image: url(./images/detail/tablet/image-manage-hero@2x.jpg);
    }
    @media (min-width: 1024px) {
      background-image: url(./images/detail/desktop/image-manage-hero@2x.jpg);
    }
  }
  &__image--fylo {
    background-image: url(./images/detail/mobile/image-fylo-hero@2x.jpg);
    @media (min-width: 768px) {
      background-image: url(./images/detail/tablet/image-fylo-hero@2x.jpg);
    }
    @media (min-width: 1024px) {
      background-image: url(./images/detail/desktop/image-fylo-hero@2x.jpg);
    }
  }
  &__image--bookmark {
    background-image: url(./images/detail/mobile/image-bookmark-hero@2x.jpg);
    @media (min-width: 768px) {
      background-image: url(./images/detail/tablet/image-bookmark-hero@2x.jpg);
    }
    @media (min-width: 1024px) {
      background-image: url(./images/detail/desktop/image-bookmark-hero@2x.jpg);
    }
  }
  &__image--insure {
    background-image: url(./images/detail/mobile/image-insure-hero@2x.jpg);
    @media (min-width: 768px) {
      background-image: url(./images/detail/tablet/image-insure-hero@2x.jpg);
    }
    @media (min-width: 1024px) {
      background-image: url(./images/detail/desktop/image-insure-hero@2x.jpg);
    }
  }
}

.project-detail-content {
  @media (min-width: 1110px) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }


  .project-detail-intro {
    border-top: 1px solid var(--color-border-gray);
    border-bottom: 1px solid var(--color-border-gray);
    padding: 2.4rem 0;

    @media (min-width: 768px) and (max-width: 1109px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0 1.2rem;
      padding: 3.2rem 0;
    }

    @media (min-width: 1110px) {
      max-width: 35rem;
      padding: 4.8rem 0;
    }

    &__body {
      opacity: .8;
      margin: 2.4rem 0;
      @media (min-width: 768px) and (max-width: 1109px) {
        grid-column: 2/3;
        grid-row: 1/4;
        margin: 0;
      }
      @media (min-width: 1110px) {
        margin: 2.9rem 0 2.3rem;
      }
    }
    &__button {
      @media (min-width: 768px) and (max-width: 1109px) {
        grid-column: 1/2;
        justify-self: start;
      }
    }

    .features {
      margin-bottom: 2.4rem;
      @media (min-width: 768px) and (max-width: 1109px) {
        margin-bottom: 1.6rem;
        margin-top: 1.6rem;
      }
      @media (min-width: 1110px) {
        margin-bottom: 3.2rem;
      }
      .feature:not(:last-of-type) {
        @media (min-width: 1110px) {
          margin-bottom: 1.6rem;
        }
      }
    }
  }
  .project-detail-body {
    margin-top: 4.8rem;
    @media (min-width: 768px) {
      margin-top: 4rem;
    }
    @media (min-width: 1110px) {
      margin-top: 0;
      max-width: 63.5rem;
    }
    .project-background {
      &__body {
        margin-top: 2.8rem;
        opacity: .8;
      }
    }
    .project-detail-previews {
      margin-top: 4rem;
      &__heading {
        margin-bottom: 4rem;
        @media (min-width: 1110px) {
          margin-bottom: 2.8rem;
        }
      }

      .project-detail-preview-1,
      .project-detail-preview-2 {
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 auto;
        max-width: 50rem;
        height: 19.7rem;
        @media (min-width: 768px) {
          max-width: 88rem;
          height: 43.4rem;
        }
        @media (min-width: 1110px) {
          max-width: none;
          height: 40rem;
        }
      }
      .project-detail-preview-1 {
        margin-bottom: 3.2rem;
        &--manage {
          background-image: url(./images/detail/mobile/image-manage-preview-1@2x.jpg);
          @media (min-width: 768px) {
            background-image: url(./images/detail/tablet/image-manage-preview-1@2x.jpg);
          }
          @media (min-width: 1110px) {
            background-image: url(./images/detail/desktop/image-manage-preview-1@2x.jpg);
          }
        }
        &--fylo {
          background-image: url(./images/detail/mobile/image-fylo-preview-1@2x.jpg);
          @media (min-width: 768px) {
            background-image: url(./images/detail/tablet/image-fylo-preview-1@2x.jpg);
          }
          @media (min-width: 1110px) {
            background-image: url(./images/detail/desktop/image-fylo-preview-1@2x.jpg);
          }
        }
        &--bookmark {
          background-image: url(./images/detail/mobile/image-bookmark-preview-1@2x.jpg);
          @media (min-width: 768px) {
            background-image: url(./images/detail/tablet/image-bookmark-preview-1@2x.jpg);
          }
          @media (min-width: 1110px) {
            background-image: url(./images/detail/desktop/image-bookmark-preview-1@2x.jpg);
          }
        }
        &--insure {
          background-image: url(./images/detail/mobile/image-insure-preview-1@2x.jpg);
          @media (min-width: 768px) {
            background-image: url(./images/detail/tablet/image-insure-preview-1@2x.jpg);
          }
          @media (min-width: 1110px) {
            background-image: url(./images/detail/desktop/image-insure-preview-1@2x.jpg);
          }
        }
      }
      .project-detail-preview-2 {
        &--manage {
          background-image: url(./images/detail/mobile/image-manage-preview-2@2x.jpg);
          @media (min-width: 768px) {
            background-image: url(./images/detail/tablet/image-manage-preview-2@2x.jpg);
          }
          @media (min-width: 1110px) {
            background-image: url(./images/detail/desktop/image-manage-preview-2@2x.jpg);
          }
        }
        &--fylo {
          background-image: url(./images/detail/mobile/image-fylo-preview-2@2x.jpg);
          @media (min-width: 768px) {
            background-image: url(./images/detail/tablet/image-fylo-preview-2@2x.jpg);
          }
          @media (min-width: 1110px) {
            background-image: url(./images/detail/desktop/image-fylo-preview-2@2x.jpg);
          }
        }
        &--bookmark {
          background-image: url(./images/detail/mobile/image-bookmark-preview-2@2x.jpg);
          @media (min-width: 768px) {
            background-image: url(./images/detail/tablet/image-bookmark-preview-2@2x.jpg);
          }
          @media (min-width: 1110px) {
            background-image: url(./images/detail/desktop/image-bookmark-preview-2@2x.jpg);
          }
        }
        &--insure {
          background-image: url(./images/detail/mobile/image-insure-preview-2@2x.jpg);
          @media (min-width: 768px) {
            background-image: url(./images/detail/tablet/image-insure-preview-2@2x.jpg);
          }
          @media (min-width: 1110px) {
            background-image: url(./images/detail/desktop/image-insure-preview-2@2x.jpg);
          }
        }
      }
    }
  }
}

.project-nav {
  margin-top: 6.4rem;
  @media (min-width: 768px) {
    margin-top: 8rem;
  }
  @media (min-width: 1110px) {
    margin-top: 6.4rem;
  }
  .project-nav-container {
    border-top: 1px solid var(--color-border-gray);
    border-bottom: 1px solid var(--color-border-gray);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .nav-divider {
      min-height: 100%;
      min-width: .1rem;
      max-width: .1rem;
      background-color: var(--color-border-gray);
      align-self: stretch;
    }
  }

  .previous-project,
  .next-project {
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-grayish-dark-blue);
    display: flex;
    padding: 2.4rem 0;
    width: 100%;
    
    @media (min-width: 768px) {
      align-items: center;
      padding: 3.2rem 0;
    }

    .project-nav-icon {
      svg path {
        transition: var(--transition) stroke;
      }
    }

    .project-nav-text {
      margin-top: 1.6rem;
      transition: var(--transition) color;
      @media (min-width: 768px) {
        margin-top: 0;
      }
      &__direction {
        opacity: .5;
      }
    }
  }

  .previous-project {
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
      .project-nav-text {
        margin-left: 3.2rem;
      }
    }
  }
  .next-project {
    text-align: right;
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row-reverse;
      .project-nav-text {
        margin-right: 3.2rem;
      }
    }
  }
}

.previous-project:hover,
.next-project:hover {
  .project-nav-icon {
    svg path {
      stroke: var(--color-cyan);
    }
  }
  .project-nav-text {
    color: var(--color-cyan);
  }
  
}

// text style only used within this page
.t-feature {
  line-height: 3rem;
  font-family: var(--font-family-sans);
  font-weight: var(--weight-bold);
  color: var(--color-cyan);
  font-size: 1.3rem;
  @media (min-width: 1024px) {
    font-size: 1.6rem;
  }
}

.t-h3--nav-name {
  line-height: 3.6rem;
}